name: "Automated Code Review Example"

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  issues: write
  pull-requests: write

jobs:
  code_review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run LLM Code Review Action
        uses: jo15122002/flair@v1.0.0
        with:
          llm-endpoint: ${{ secrets.LLM_ENDPOINT }}
          diff-chunk-size: "10000"
          exclude-patterns: "test,tests,spec"
          github-token: ${{ secrets.GITHUB_TOKEN }}
